@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,500&family=Raleway:ital,wght@0,100;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;1,100;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: url("img/backgr.jpg");
}

.login-header{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
}

.login-header h2{
    float: left;
    margin-left: 15px;
}

.login-header h2:hover{
    font-style: italic;
    cursor: pointer;
}

.login-header h3{
    float: right;
    margin-right: 15px;
}

.login-block{
    position: relative;
}

.login-block img{
    width: 100%;
    height: 560px;
}

.container{
    margin-top: -35%;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(22,39,78,1) 0%, rgba(48,84,168,0) 100%);
    text-align: center;
    width: 275px;
    height: 400px;
    margin-left: 38%;
}

.login-img{
    margin-top: 10px;
    text-align: center;
}

.login-img img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

.container label{
    float: left;
    margin-left: 10px;
}

.container input{
    margin-bottom: 10px;
}

.container button{
    width: 150px;
    height: 30px;
    float: left;
    background: cornflowerblue;
    border: 1px solid #E5E5E5;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    cursor:pointer;
}