/*body {
	background: url("img/backgr.jpg");
}*/
body {
	background: green;
}

.table {
	width: 25%;
	margin-bottom: 20px;
	margin: 10% auto;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #fff!important;
}
.table th {
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
.table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
a {
	text-decoration: none;
	font-size: 30px;
}
.menu {
	width: 100%;
}

.menu ul li{
	flex-basis: auto;
    flex-grow: 1;
 	padding: 10px;
}
.menu ul > li:hover{
  background-color: #4682B4;
}
.menu ul ul > li:hover{
  background-color: #FF4500;
}
.menu ul li, .menu ul{
  display: inline-block;
}
.menu ul{
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #4B0082;
  display: flex;
  flex-basis: auto;
  flex-grow: 1
}
.menu ul ul{
  display: none;
  position: absolute;
  background-color: #FF6347;
  margin-top: 10px;
  margin-left: -10px;
}
.menu ul a{
  color: #FAEBD7;
  text-decoration: none;
}
.menu ul ul a{
  color: #FAEBD7;
  text-decoration: none;
}
.menu li:hover ul{
  display: block;
}

.menu li:hover li{
  display: block;
}